{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": [
    "jest",
    "import",
    "react-hooks"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "src"
        ]
      }
    }
  },
  "rules": {
    "react/jsx-props-no-spreading": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "react/forbid-prop-types": [
      1,
      {
        "forbid": [
          "any",
          "array"
        ]
      }
    ],
    "import/prefer-default-export": 0,
    "object-curly-newline": "off",
    // Strict, airbnb is using warn
    "no-console": "error",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error",
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "webextensions": true
  }
}
