{
  "root": true,
  "extends": [
    "plugin:import/recommended",
    "airbnb",
    "airbnb/hooks",
    "plugin:json/recommended"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module"
  },
  "plugins": [
    "jest",
    "markdown",
    "react-hooks"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": [
          "src"
        ]
      },
      "alias": [
        [
          "@misakey/core",
          "./src/packages/core/src"
        ],
        [
          "@misakey/react",
          "./src/packages/react/src"
        ],
        [
          "@misakey/hooks",
          "./src/packages/hooks/src"
        ],
        [
          "@misakey/ui/static",
          "./src/packages/ui/static"
        ],
        [
          "@misakey/ui",
          "./src/packages/ui/src"
        ],
        [
          "@misakey/store",
          "./src/packages/store/src"
        ]
      ]
    }
  },
  "rules": {
    "import/no-restricted-paths": [
      "error",
      {
        "basePath": "./src",
        "zones": [
          {
            "message": "Cannot import file in @misakey/* packages",
            "target": "./packages",
            "from": "./",
            "except": [
              "./packages"
            ]
          }
        ]
      }
    ],
    "react/jsx-props-no-spreading": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx",
          ".md"
        ]
      }
    ],
    "react/forbid-prop-types": [
      1,
      {
        "forbid": [
          "any",
          "array"
        ]
      }
    ],
    "import/no-extraneous-dependencies": "off", // It would be better to enable this rule.
    "import/namespace": [
      "error",
      {
        "allowComputed": true
      }
    ],
    "import/prefer-default-export": 0,
    "object-curly-newline": "off",
    // Strict, airbnb is using warn
    "no-console": "error",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/jsx-uses-react": "error",
    "react/react-in-jsx-scope": "error",
    "no-multiple-empty-lines": "off"
  },
  "overrides": [
    {
      "files": [
        "**/test-utils/**/*.js",
        "*.test.js",
        "*.int-test.js"
      ],
      "rules": {
        "import/named": "off",
        "no-unused-expressions": "off"
      }
    },
    {
      "files": [
        "**/*.md"
      ],
      "rules": {
        "no-console": "off",
        "no-unused-expressions": "off"
      }
    }
  ]
}