.Avatar {
  display: flex;
  flex: 1;

  .subtitle {
    margin-left: 24px;
  }

  .form {
    display: flex;
    flex: 1;


    .content {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
    }
  }
}
