@import '~@misakey/ui/static/sass/colors';

#ScreenError {
  .container {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .httpStatus {
      font-size: 175px;
      color: transparentize(grey, .90);
    }

    h3 {
      padding: 0 1rem;
    }
  }
}
