$primary:  #757575;
$secondary: #e32e73;

$primary-color:$primary;
$secondary-color:$secondary;
$error: $secondary;

$black: '#000';
$white: '#fff';
$misakey: $secondary;

$gold-yellow: #ffb400;
$dark-grey: #434343;
$grey: #999999;

$light-grey: #d9d9d9;
$ultralight-grey: #f3f3f3;
  
$light-background: white;

