@import '~@misakey/ui/static/sass/colors';

#BoxAction {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h3 {
    padding-bottom: 1rem;
  }

  .flexBox {
    display: flex;

    .action {
      margin: 1rem;
    }
  }
}
